/* css선택자 */
/* 전체 선택자 */
* {
  background-color: pink;
}

body {
  background-color: yellow;
  margin: 0px;
}

h1 {
  margin: 0px;
}

/* 클래스 선택자 */
.lion {
  background-color: salmon;
}

/* 아이디 선택자 */
#bootcamp {
  background-color: green;
}

[title^='멋사'] {
  font-size: 24px;
}
/* 자손결합자, 자식결합자 */
.frontend .lion {
  border: 5px solid blue;
}

.like > .lion {
  font-size: 36px;
}

/* 형제 선택자 */
h2 + p {
  font-weight: 900;
}

h2 ~ p {
  color: blue;
}

/* 가상요소선택자 */
p::first-letter {
  font-size: 60px;
}

::selection {
  background-color: black;
  color: white;
}

h1::before {
  content: '웹표준 -';
}

h1::after {
  content: '(멋사)';
}

/* 가상 클래스 선택자 */
a {
  font-size: 48px;
}

a:hover {
  background-color: darkblue;
  color: white;
}

a:focus {
  background-color: red;
  color: white;
}
