/* 타이포그래피 */
/* 글꼴 */
h1 {
  font-family: 'SUIT Variable', sans-serif;
}

.like {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* 굵기 */
h1 {
  font-weight: 100;
}

/* 크기 */
.lion {
  background-color: #ffc;
  /* font-size: 1.5em; */
  /* em 부모로부터 받은 글 사이즈 */
  /* clamp() 함수 */
  font-size: clamp(1rem, 3vw, 2rem);
}

.frontend {
  font-size: 20px;
}

.bootcamp {
  font-size: 2rem;
}

/* 줄높이 */
.lion {
  line-height: 1.5;
}

/* 글꼴 스타일 */
em {
  font-style: italic;
}

/* 크기가 작은 대문자 */
.lion {
  font-variant: small-caps;
}

/* font 단축 속성 (단축표기법) */
.school {
  background-color: #fcf;
  font:
    bold italic small-caps 20px/1.5 Georgia,
    serif;
}

/* 텍스트 새도우 글짜의 그림자 */
h1 {
  text-shadow: 5px -5px 10px red;
}
