/* 포지션 레이아웃 */
/* po */
.wrapper {
  position: relative;
  border: 1px solid blue;
}
.frontend {
  background-color: #000;
  position: relative;
  top: -100px;

  span {
    position: relative;
    top: -5px;
    left: -5px;
    background-color: #ffc;
    display: block;
    padding: 10px;
  }
}

/* position 앱솔루트*/
.school {
  span {
    background-color: #cff;
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 200px;
    height: 100px; */
  }
}

/* 포지션 픽스 */
.likelion {
  background-color: #ffc;
  width: 100px;
  height: 50px;
  font-weight: 700;
  text-align: center;
  align-content: center;
  position: fixed;
  top: 0;
  right: 0;
}
