/* css 미디어 쿼리 */
/* 모든 디바이스 */
body {
  background: #ffc;
}

/* 작은 디바이스(mobile) */
@media (max-width: 400px) {
  body {
    background: #fcf;
  }
}

/* 태블릿 디바이스 */
@media (640px <= width < 1024px) {
  body {
    background: #cff;
  }
}

/* 데스크탑 디바이스 */
@media (min-width: 1024px) {
  body {
    background: #ccf;
  }
}
