/* 플렉스 박스는 1차원 레이아웃 
디스플레이를 플렉스로 주는 순간 디비전은 콘테이너가 되고 
자식요소는 플렉스 아이템이 된다.
플렉스를 준다해서 블록 요소가 인라인 요소가 된 것이 아님 
그냥 유동적인 블록 요소일 뿐*/

/* order 숫자가 작을 수록 앞에 배치 기본값은 0 */

div {
  background: var(--yellow);

  > div:nth-child(1) {
    background: var(--pink);
  }
  > div:nth-child(2) {
    background: var(--green);
  }
  > div:nth-child(3) {
    background: var(--blue);
  }
  > div:nth-child(4) {
    background: var(--orange);
  }
}

/* flex - flex-direction */
.like {
  padding: 0.5em;
  display: flex;
  /* 디렉션은 반드시 컨테이나에 */
  flex-direction: column;

  div:nth-child(even) {
    /* 오더는 플렉스 아이템에*/
    order: 1;
  }
}

/* flex-wrap, flex-flow */
.lion {
  display: flex;
  /* flex-direction: row-reverse;
  flex-wrap: wrap; */
  flex-flow: wrap row;
  padding: 0.5em;
  inline-size: 600px;
  block-size: 200px;
  justify-content: space-evenly;

  > div {
    inline-size: 150px;
  }
}

.euid {
  block-size: 200px;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  flex-flow: nowrap row;
  align-items: stretch;
}
/* align-contents */
.frontend {
  display: flex;
  inline-size: 400px;
  block-size: 200px;
  flex-flow: wrap row;
  justify-content: start;
  align-items: stretch;
  /* nowrap일때 콘텐츠 wrap일때 아이템 */
  align-contents: space-evenly;

  > div {
    inline-size: 200px;
  }
}

/* gap */

.bootcamp {
  inline-size: 400px;
  display: flex;
  flex-flow: wrap row;
  justify-content: start;
  align-items: stretch;
  /* 전체 정렬 */
  /* padding: 1em; */
  column-gap: 40px;
  block-size: 200px;

  > div {
    inline-size: 180px;
  }

  .bootcamp-item1 {
    align-self: end;
    /* 개별 정렬 */
    border: 1px solid red;
  }
}

.school {
  display: flex;
  flex-flow: nowrap row;
  inline-size: 50%;

  > div {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px; */
    flex: 1 1 0;
    /* 쉬링크는 축소 그로우는 확대 위드랑 베이시스가 동시에 선언되면 위드는 무시된다. */
    inline-size: 50px;
  }
}
