/* Transition 애니메이션 */
/* 레이아웃 */
.container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .wrapper {
    margin: 10px;

    button {
      margin-block-end: 10px;
    }
  }
}

/* Transition 관련 속성 */
.like {
  background: yellow;
  padding: 10px;
  font-weight: 100;
  transition-property: background, font-weight, padding;
  transition-duration: 1000ms, 2000ms, 2000ms;
  transition-delay: 0ms, 1000ms, 3000ms;

  &.active {
    background: pink;
    font-weight: 900;
    padding: 50px;
  }
}

/* translate 속성 */
.lion {
  background: pink;
  inline-size: 100px;
  block-size: 100px;
  text-align: center;
  align-content: center;
  transition: translate 600ms 0ms;

  &.active {
    translate: 200px 0;
  }
}

/* rotate 속성 */
.euid {
  background: orange;
  inline-size: 100px;
  block-size: 100px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  transition: all 600ms 0ms;

  &.active {
    rotate: 360deg;
  }
}

.bootcamp {
  background: skyblue;
  inline-size: 100px;
  block-size: 100px;
  text-align: center;
  align-content: center;
  transition: all 600ms 0ms;

  &.active {
    transform: skew(15deg, -30deg) translate(100px, 0);
  }
}

.frontend {
  background: yellowgreen;
  inline-size: 100px;
  block-size: 100px;
  text-align: center;
  align-content: center;
  transition: all 600ms 0ms;

  &.active {
    transform: scale(1.5);
    transform-origin: 0 0;
  }
}
