.favorites {
  h2 {
    font-size: 1.125rem;
    font-weight: 700;

    span {
      color: orangered;
    }
  }

  ol {
    margin-block-start: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    block-size: 36px;
    overflow: hidden;
    transition:
      block-size 0.6s 0s ease-in-out,
      padding-block 0.6s 0.6s ease-in-out;

    &:hover {
      block-size: auto;
      padding-block: 20px;
      /* block-size: calc-size(auto, size); */
      interpolate-size: allow-keywords;
    }

    a {
      display: block;
      block-size: 36px;
      align-content: center;
      /* padding-inline-start: 24px; */
      text-indent: 24px;
    }
  }
}
