:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

.news {
  box-shadow: 0 0 0 1px red;
  background: var(--blue-300);
  color: var(--white);

  display: grid;
  grid-template-columns: 1fr 63px;
  min-inline-size: 320px;
  grid-template-columns: minmax(200px, 1fr) max-content;
  gap: 8px;
  padding: 16px;

  font-size: 0.8125rem;
  line-height: 1.5;
  letter-spacing: -0.02em;

  .news-item,
  .news-list {
    display: contents;
  }

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.more {
  grid-area: 1 / 2;
  place-self: start end;
}
