.members-wrapper {
  font-size: 16px;
  overflow: auto;
  border-collapse: collapse;
  block-size: 500px;
}

.members {
  inline-size: 100%;
  border: 1px solid #121212;

  tr:nth-child(even) {
    background: #cfd8dc;
  }

  tr {
    text-align: center;
    align-content: center;
  }

  .number {
    inline-size: 15%;
  }

  .name {
    inline-size: 25%;
  }

  .email {
    inline-size: 30%;
  }

  .phone {
    inline-size: 30%;
  }

  th,
  tfoot {
    background: #121212;
    color: var(--white);
  }

  th,
  td {
    padding: 0.5em 1em;
  }

  th {
    position: sticky;
    top: 0;
  }
}
