/* css 예제 본문 스타일 */
.spacing-20 {
  margin: 20px;
}

h1 {
  margin-block: 20px;
}

/* 컴포넌트 영역 스타일링 */
/* ui 컴포넌트 */
.ui-component {
  border: 1px solid currentColor;
  margin-block: 10px;
  padding: 10px;
}

/* copy component */
.copy-component {
  display: flex;
  background: black;
  color: white;
  margin-block-start: 0.5em;
  padding: 0.5em 1em;
  border-radius: 4px;
}

/* 기본 스타일 */
body {
  font-family: 'SUIT Variable', sans-serif;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
